@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg-yellow: #f4d04e;

  --color-gray-500: #6b6b6b;
  --color-gray-950: #111111;

  --font-figtree: "Figtree", sans-serif;
}

@layer base {
}

@layer components {
  .card {
    @apply p-5 w-full max-w-[450px] bg-white rounded-2xl border border-gray-950 shadow-[8.0px_8.0px_rgb(17,17,17)];
  }
}

@layer utilities {
  .text-preset-1 {
    @apply font-figtree text-2xl text-gray-950 font-extrabold;
  }

  .text-preset-2 {
    @apply font-figtree text-base text-gray-500 font-medium;
  }

  .text-preset-3 {
    @apply font-figtree text-sm text-gray-500 leading-[1.5] font-medium;
  }

  .text-preset-4 {
    @apply font-figtree text-sm text-gray-950 leading-[1.5] font-extrabold;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
